body, html {
    background-color: #111111;
    height: 100%;
    margin: 0;

}

table {
    position: relative;
    width: 90%;
    left: 5%;
    top: 0;
    border-collapse: separate;
    border-spacing: 2px 2px;
}

td {
    border: 1px solid #1561b6;
    z-index: 100;
    margin: 1px;
}

iframe {
    min-height: 290px;
    min-width: 200px;
}

.ng-scope {
    position: relative;
    height: 100%;
    top: 0;
}

.banners {
    top: 0;
    float: left;
}

.smallBanner {
    height: 5%;
}
.smallCenter{
    width:170px;
    height:40px;
    margin: 0 auto;
}
.center {
    width: 720px;
    height: 122px;
    margin: 0 auto;
}

.stream {
    position: relative;
}
.streamBox{
    position:relative;
    padding:1px;
    width:66%;
    height:100%;
}

.chat {
    margin-right:10px;
    height:100%;
}

.buttons {
    float: left;
    margin-top:4px;
    margin-right:10px;
}

.toggle {
    margin: 2px;
    cursor: pointer;
}

.subToggles {
    float: left;
    color: #1561b6;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.headerLeft {
    border-right: none;
    border-left: 1px solid #1561b6;
    height: 50px;
}

.headerRight {
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.headerContent {
    float: right;
}
.invisible{
    position:absolute;
    right:5px;
    bottom:10px;
    cursor:pointer;
    z-index:900;
}
.buttons {
    width: 110px;
    height: 101px;
    font-size: 0;
    text-align: center;
    overflow: hidden;
    margin-top:12px;
}
.toggleHeader,
.toggleVideo,
.toggleChat {
    -webkit-box-sizing: bo1rder-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    border: 3px solid #2375C8;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color:#333333;
}
.toggleVideo,
.toggleChat {
    height: 60px;
}
.toggleHeader {
    width: 103px;
    height: 20px;
    margin-bottom: 3px;
}
.toggleVideo{
    width: 72px;
    z-index: 9004;
    margin-right: 3px;
}
.toggleChat { width: 28px; }
.toggleTron,
.toggleVidya {
    display: inline-block;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    color: #2375C8;
    margin-top: 2px;
}
.toggleTron { padding-left: 10px; }
.toggleTron:after {
    display: inline-block;
    content: "|";
    padding: 0 5px;
    text-decoration: none;
    cursor: default;
}
.toggleVidya{
    margin-right:6px;
}
.volume{
    float:left;
    cursor:pointer;
}
.speaker{
    float:left;
    height:20px;
    cursor:pointer;
}
.mainThumbClass1{
    position:absolute;
    right:347px;
    top:-10px;
    width:240px;
    height:180px;
    z-index:200;
}
.mainThumbClass2{
    position:absolute;
    right:292px;
    top:-10px;
    width:240px;
    height:180px;
    z-index:200;
}
.subThumbClass1{
    position:absolute;
    right:50px;
    top:-4px;
    width:240px;
    height:180px;
    z-index:200;
}
.subThumbClass2{
    position:absolute;
    right:0;
    top:-4px;
    width:240px;
    height:180px;
    z-index:200;
}