<div class="buttons">
    <img style="margin-left:4px;" class="toggle" ng-src="img/hbhead.png"
         ng-click="$storage.banner={1 : 0 , 0 : 1}[$storage.banner];"/> <br>
    <img class="toggle" ng-src="img/stream.png" ng-click="$storage.stream={1 : 0 , 0 : 1}[$storage.stream];"/>
    <img class="toggle" ng-src="img/chat.png" ng-click="$storage.chat={1 : 0 , 0 : 1}[$storage.chat];"/>
    <br>
    <img style="margin-left:14px;" class="toggle" ng-src="img/tron.png" ng-click="switchChannel(channelOne)"
         ng-mouseover="showThumbOne=true;" ng-mouseleave="showThumbOne=false;"/>
    <img class="toggle" style="cursor:auto;" ng-src="img/spacer.png"/>
    <img class="toggle" ng-src="img/vidya.png" ng-click="switchChannel(ChannelTwo)" ng-mouseover="showThumbTwo=true;"
         ng-mouseleave="showThumbTwo=false;"/>
    <img class="thumb1" ng-src="{{thumbNail + channelOne}}" ng-show="showThumbOne">
    <img class="thumb2" style="" ng-src="{{thumbNail + channelTwo}}" ng-show="showThumbTwo">

</div>