
<div class="buttons">
    <div class="toggleHeader" ng-click="$storage.banner={1 : 0 , 0 : 1}[$storage.banner];"></div>
    <div class="toggleVideo"  ng-click="$storage.stream={1 : 0 , 0 : 1}[$storage.stream];"></div>
    <div class="toggleChat"   ng-click="$storage.chat={1 : 0 , 0 : 1}[$storage.chat];"></div>
    <div class="toggleTron"   ng-click="switchChannel(channelOne)" ng-mouseover="mainThumb1 = true;getThumb(channelOne);"  ng-mouseleave="mainThumb1 = false">Tron</div>
    <div class="toggleVidya"  ng-click="switchChannel(channelTwo)"  ng-mouseover="mainThumb2 = true;getThumb(channelTwo);"  ng-mouseleave="mainThumb2 = false">Vidya</div>
</div>
